---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Rubik');

* {
        font-family: Rubik;
      }
      .button {
        background-color: #e4edff;
        border-radius: 10px;
        border: 0px;
        color: black;
      }
      .button:hover {
        background-color: #b2c9f6;
      }   