<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <!-- default settings -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/languages/logo.png">

    <!-- -->

    {% seo %}

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

    <!-- stylesheet -->
    <link rel="stylesheet" href="/languages/stylesheet.css">
  </head>

  <script>
  document.getElementById("toggleMarkEndings").addEventListener("change", function () {
      if (this.checked) {
          markEndings();
      } else {
          unmarkEndings();
      }
  });

    function unmarkEndings() {
        if (!document.getElementById("disable-end-style")) {
            const style = document.createElement("style");
            style.id = "disable-end-style";
            style.innerHTML = "end { all: unset !important; }";
            document.head.appendChild(style);
        }
    }

    function markEndings() {
        const style = document.getElementById("disable-end-style");
        if (style) style.remove();
    }
  </script>


  <body>
    <div class="container-lg px-3 my-5 markdown-body" style="margin-top: 0px !important">

      <!-- languages shown in menu -->
      {% assign languages = "ru,en,fr,he,de,hu" | split: "," %}

      <!-- MENU -->
      <div class="menu">

        <a href="{{ "/" | absolute_url }}">
          <img height="25" width="25" src="/languages/logo.png"
          style="background-color: transparent;">
        </a>

        <!-- title "languages" -->
        <a href="{{ "/" | absolute_url }}">Languages</a>

        <!-- language buttons -->
        {% for cur_lang in languages %}
            <span>
            {% if cur_lang == page.lang_code %}
            <a href="/languages/{{ cur_lang }}">
              <button name="button" class="button" style="background-color: white; border: 1px">{{ cur_lang }}</button>
            </a>
            {% else %}
              <a href="/languages/{{ cur_lang }}">
                <button name="button" class="button">{{ cur_lang }}</button>
              </a>
            {% endif %}

            </span>
        {% endfor %}

        <!-- Checkbox: Mark endings -->
        <label>
          <input type="checkbox" id="toggleMarkEndings" checked> Mark endings
        </label>
        
      </div>

      {{ content }}

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        This site is open source. {% github_edit_link "Improve this page" %}.
      </div>
      {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>